.vscode/

# For virtual python envs needed
.venv/

/projects/face_recog/datasets
/projects/expression_recog/images

.DS_Store

/projects/cnn/datasets
/projects/cnn/datasets/sportimages.zip

/projects/cnn_project/datasets